.w-100 {
  width: 100%;
}

.w-60 {
  width: 60px;
}

.m-0 {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0 !important;
}

.text-right {
  text-align: right;
}

.carImg1 {
  stroke: none;
  stroke-width: 0;
  stroke-dasharray: none;
  strokelinecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: none;
  fill-rule: nonzero;
  opacity: 1;
}

.carImg2 {
  stroke: none;
  stroke-width: 1;
  stroke-dasharray: none;
  strokelinecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: rgb(0, 0, 0);
  fill-rule: nonzero;
  opacity: 1;
}

.car-image {
  /* transition-timing-function: linear;
  transition-duration: 1000ms; */
  transform: translateX(0);
}
